html {
    background-color: #101710;
}

.logo {
    width: 4rem;
    height: auto;
    padding: 0.5rem;
}

@media screen and (min-width: 640px){
    .logo {
        width: 6rem;
    }
}

img {
    max-width: 100;
}

.heart {
    color: red;
}
