//Colors
$gold: #C4B28C;
$background: #101710;
$goldTransparent: rgba(196, 178, 140, 0.85);

//Font
$pageFont: 'Lato', sans-serif;
$favouriteFont:'Bungee Outline', cursive;


//Breakpoints
$mobile: 500px;
$tablet: 700px;
$tabletlg: 850px;
$desktop: 1000px;