//Base
@use './base/reset';
@use './base/default';
@use './base/settings';
@use './components/home.scss';

//Components
@use './components/nav';
@use './components/main-nav';
@use './components/heroimage';
@use './components/movies';
@use './components/sortBar';
@use './components/about';
@use './components/hoverinfo';
@use './components/singlePage';
@use './components/favs';
@use './components/footer';



// //Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");