@use '../base/settings' as *;

.about-page {

    
    .about-img{
        opacity: 0.2;
        z-index: -1;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        position: relative;

    }
    
    @media (min-width: 320px){
        .about-img {
            object-position: left bottom;
        }
    }

    .about-info {
        padding-bottom: 8rem;
        position: absolute;
        top: 8rem;
        left: 0;
        right: 0;
    }

    .tmdb-info {
        text-align: center;
    }

    .tmdb-info img {
        width: 8rem;
    }

    h2 {
        padding-top: 5rem;
        color: white;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    p {
        font-size: 1.25rem;
        line-height: 1.5;
        color: white;
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 2rem;
    }

    .text {
        text-align: left;
        padding-left: 0.5rem;
    }

    .discover {
        max-width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
    }

    .number {
        font-size: 3rem;
        font-weight: bold;
        padding-right: 0.5rem;
        color: $gold;
    }

    @media (min-width: 600px){
        .discover {
            max-width: 500px;
        }
    }

    @media (min-width: 700px){
        h1 {
            display: none;
        }

        h2 {
            font-size: 2.5rem;
        }

        .welcome {
            max-width: 70%;
        }
        
        .text {
            font-size: 1.5rem;
            padding: 0.5rem;
            border: 3px solid $gold;
            border-radius: 25px;
        }

        .number {
            font-size: 4rem;
            margin-right: 1rem;
            color: white;
        }

        .discover {
            max-width: 600px;
        }
    }

    @media (min-width: 900px) {
        .welcome {
            max-width: 700px;
        }

        .discover {
            width: 800px;
        }
    }
}