@use '../base/settings' as *;
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");

.favourites-page .ourFavourites{ 

    display:flex;
    flex-direction:column;
    min-height: 100vh;

    h2{
        color: $gold;
        text-align: center;
        font-size: 2rem;
       
    }

    h3.info {
        position: relative;
        font-size: 2rem;
        color: $gold;
        top: 20rem;
        right:0;
        left:0;
        text-align:center;
    }

    // p.release-date {
    //     top: 20rem;
    //     left:0;
    //     right:0;
    //     // text-align:center;
    //     color: $gold;
    // }

    p.date.info {
        position: relative;
        color: $gold;
        top: 19rem;
        left:0;
        right:0;
        text-align: center;
    }


    .overview {
        color: white;
        position: relative;
        top: 24rem;
        width:70%;
        margin: 0 auto;
       
    }

    .poster-img {
        max-width: 15rem;
        position: relative;
        top: -24rem;
    }

    .heart {
        width: 48px;
        height: 48px;
        // top: 35rem; 
        position: relative;
    }

    p.user-rating{
        position: relative;
        border-radius: 50%;
        color: white;
        border: 2px solid #fff;
        width: 42px;
        line-height: 42px;
        margin: 0;
        // margin-left: 4rem;
        padding: 0.2rem;
        // top: 35rem;
    }

    .heartandrating {
        display: flex;
        justify-content: center;
        position: relative;
        top: 31rem;
    }

    .link {
        
        position: relative;
        top:25rem;
        color: white;
        text-decoration: none;
        // margin-left: 8rem;
        border: 2px solid white;
        padding: 0.5rem;
        font-size: 1rem;
        width: 5rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        &:hover {
            color: $gold;
            border: 2px solid $gold; 
        }
    }

    .poster {
        // margin-bottom: 10rem;
        padding: 5rem 0;
        text-align: center;
    }
}

.noFavourites {

    min-height: 100vh;
    
    h2{
        font-family:$pageFont;
        color:$gold;
        font-size: 4rem;
        text-align:center;
        position:relative;
        top: 6rem;
    }

   

    p{
        color:white;
        position:absolute;
        top: 34rem;
        padding: 0 3rem;
        text-align:center;

        a{
            color: $gold;
            &:visited{
                color: $gold;
            }
        }
    }

    .tv{
       
        fill: #867C72;    
        width: 10rem;
        position:absolute;
        top: 22rem;
        
        
          
    }

    .flex-image{
        display:flex;
        justify-content:center;
    }


    @media screen and (min-width: 700px){
        h2{
            font-family:$favouriteFont;
            color:$gold;
            font-size: 10vw;
            text-align:center;
            opacity: 0.3;
            position:relative;
        }
    }

}
