@use '../base/settings' as *;
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");

.favourites-page .ourFavourites{ 

    display:flex;
    flex-direction:column;
   

    h2{
        color: $gold;
        text-align: center;
        font-size: 2rem;
       
    }

    h3 {
        font-size: 2rem;
        color: $gold;
        top: 30rem;
        right:0;
        left:0;
        text-align:center;
    }

    p {
        color: white;
        
    }

    p.release-date {
        top: 20rem;
        left:0;
        right:0;
        text-align:center;
        color: $gold;
    }

    p.date {
        top: 22rem;
        left:0;
        right:0;
        text-align:center;
    }

    p.overview-title {
        top: 25rem;
        color: $gold;
        right:0;
        left:0;
        text-align:center;
    }

    p.overview {
        top: 30rem;
        right:10;
        left:0;
        width:50%;
       
    }

    img {
        width: 15rem;
    }

    .heart {
        width: 48px;
        height: 48px;
        top: 39rem; 
    }

    p.user-rating{
        border-radius: 50%;
        color: white;
        border: 2px solid #fff;
        width: 42px;
        line-height: 42px;
        margin: 0;
        margin-left: 4rem;
        padding: 0.2rem;
        top: 39rem;
    }

    .link {
        
        top:39rem;
        color: white;
        text-decoration: none;
        margin-left: 8rem;
        border: 2px solid white;
        padding: 0.5rem;
        font-size: 1rem;
        &:hover {
            color: $gold;
            border: 2px solid $gold; 
        }
    } 
}

.noFavourites {

    
    h2{
        font-family:$favouriteFont;
        color:$gold;
        font-size: 8rem;
        text-align:center;
        opacity: 0.3;
        position:relative;
    }

   

    p{
        color:white;
        position:absolute;
        bottom:190px;
        right:0px;
        left:0px;
        text-align:center;
    }

    .tv{
       
        fill: #867C72;    
        max-width: 100px;
        position:absolute;
        bottom:20px;
        
        
          
    }

    .flex-image{
        display:flex;
        justify-content:center;
    }

}
