*,
*:before,
*:after {
    margin: 0;
    padding: 0;
}

.hero-image {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: relative;
    opacity: 0.7;

}

main {
    overflow-x: hidden;
}

@media (min-width: 320px){
    .hero-image {
        object-position: left bottom;
    }
}
