@use '../base/settings' as *;

.home-section {
    padding-bottom: 5rem;
}

.title {
    color: $gold;
    top: 12rem;
    font-family: $pageFont;
    font-size: 10vw;
    position: absolute;
    left: 4rem;
}

.slogan {
    color: $gold;
    font-family: $pageFont;
    font-size: 1.4rem;
    position: absolute;
    left: 4rem;
    top: 30rem;

    h2{
        margin: 1rem auto;
    }

    h2:first-child {
        opacity: 0.4;
    }

    h2:nth-child(2){
        opacity: 0.7;
    }
}

@media (min-width: 500px){

    .slogan {
        display: block;
    }
}

@media (min-width: 800px){
    .title {
        h1 {
        text-align: right;
        }
    }
}

@media (min-width: 1280px){
    .slogan {
        font-size: 2.5rem;
    }

    .title {
        top: 25rem;
        right: 4rem;
        font-size: 8vw;
    }
}