@use '../base/settings' as *;

.title {
    color: black;
    font-family: $pageFont;
    font-size: 10vw;
    position: absolute;
    left: 4rem;
    bottom: 5rem;
}

.slogan {
    display: none;
    color: $gold;
    font-family: $pageFont;
    font-size: 2rem;
    position: absolute;
    left: 4rem;
    top: 25rem;

    h2{
        margin: 1rem auto;
    }
}


// .hero-arrow {
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: 1rem;
//     margin: 0 auto;
//     display: none;
// }



@media (min-width: 500px){

    .slogan {
        display: block;
    }
}

@media (min-width: 600px){
    .title {
        color: $gold;
        top: 10rem;
    }
}

@media (min-width: 800px){
    .title {
        h1 {
        text-align: right;
        }
    }
}

@media (min-width: 1280px){
    // .hero-arrow {
    //     display: block;
    // }

    .title {
        top: 25rem;
        right: 4rem;
        font-size: 8vw;
    }
}