@use '../base/settings' as *;

.home-section .poster {
    background-size: cover;
    transition: background-color 1s ease;
    position: relative;

    .hover-info {
        background: rgba(0, 0, 0, .8);
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // top: 0;
        // left: 0;
        // display: none;

        .heartandrating {
            display: flex;
            justify-content: space-between;

            .heart {
                width: 48px;
                height: 48px; 
                align-self: flex-end;
                margin-right: 1rem;
            }
            
            p{
                border-radius: 50%;
                background: white;
                color:rgba(0, 0, 0, .8);
                border: 3px solid #fff;
                width: 42px;
                line-height: 42px;
                margin: 0;
                order: -1;
                margin-top: 1rem;
                margin-left: 1rem;
            }
        }
    }

    &:hover .hover-info {
        display: flex;
    }

    img {
        display: block;
    }



    h3{
        font-size: 1.4rem;
        font-weight: bold;
    }

   h3, p {
        margin: 0.5rem 1rem;
        text-align: center;
        color: $gold;
    }

    a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        justify-content: center;

        &:hover {
            color: #A86244;
        }
    }
}

// @media (min-width: $tablet){

//     .poster{
//     .hover-info {
//         background: rgba(0, 0, 0, .8);
//         content: '';
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         top: 0;
//         left: 0;
//         display: none;
//     }
//     &:hover .hover-info {
//         display: block;
//     }
// }
// }

