@use '../base/settings' as *;
@import url('https://fonts.googleapis.com/css?family=Lato:300');

body{
  font: 18px $pageFont;
  overflow-x: hidden;
}

.container{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40px;
}

.overlay{
  position: absolute;
  display: none;
  z-index: 2;
  top: 70px;
  width: 100%;
  height: calc(100% - 70px);
  left: 0;
  background-color: #ffffff;
}

.top-menu{
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  
  .menu-button{
    left: 20px;
    height: 7px;
    width: 50px;
    background: #fff;
    top: calc(70px / 2 - 5px); 
    cursor: pointer;
    &:before{
      content: '';
      position: absolute;
      right:0;
      bottom: 13px;
      height: 100%;
      width: 100%;
      background: #fff;
      transition: all ease .3s;
    }

    &:after{
      content: '';
      position: absolute;
      top: 13px;
      right:0;
      height: 100%;
      width: 100%;
      background: #fff;
      transition: all ease .3s;
    }
    
    &[data-menu="right"]{
      left: 20px;
      right: auto;
    }
  }
  
  .menu-button.is-clicked{
  
    background: rgba(66, 62, 62, 0);
    
    &:before{
      background: #fff;
      transform: rotate(45deg);
      bottom: 0;
      transition: all ease .3s;
    }
    &:after{
      background: #fff;
      transform: rotate(-45deg);
      top: 0;
      transition: all ease .3s;
    }
  }
}
.menu-bar{
  position: fixed;
  right: 0;
  z-index: 2;
  width: 200px; 
  color: #000000;
  top:4rem;
  
  &.right{
    
    transform: translateX(300px);
    box-shadow: -2px 0 5px rgba(0,0,0,.3);
  }
  &.is-active{
    transform: translateX(0);
    transition: transform ease .3s;
    position: absolute;
  }
  
  .menu-body{
    position: relative;
       
    a{
      text-decoration: none;
      text-align:left;
      outline: 0;
      font-size: 1rem;
      background: $gold;
      color: #000000;
      width: calc(100% - 20px);
      display: inline-block;
      padding: 10px;
 
      &:hover{
        background: $background;
        color:white;
        
      }
    }
  }
}

@media screen and (min-width: 640px) {

      /* navigation */
      .menu-wrapper {
          display: none;
      }
      .menu-bar {
        width: auto;
        top: 25px;
        position: absolute;
      }

      .menu-bar.right {
        transform: none;
      }

      .menu-heading{
        display: none;
      }

      .top-menu{
        z-index: 0;
        
      }

      .menu-body{
        width: 80%;
      }

      .container{
        position: absolute;
        width: 100%;
        text-align: center;
        top: 90px;
      }

      .menu-bar .menu-body a {
        background: none;
        color: $gold;
        font-size: 1rem; 
        
        &:hover{
          background: none;
        }
      }

      .menu-bar.right {
        box-shadow: none;
        top: 25px;
      }
      
      .menu-body{
       ul {
          display: flex;
          flex: row;
          width: 400px;
      }

      li {
          flex: 1;
      }
      
      .hamburger-menu {
       display:none;
        &.animate {
          display:none;
        }
      }
    }
    
    @media screen and (min-width: 1024px) {

      .menu-bar .menu-body a {
        font-size: 1.4rem;
      }
    
    }
}