select {
    height: 3rem;
    border: #C4B28C;
    background-color: black;
    color: #C4B28C;
    font-size: 2rem;
    font-family: 'Lato';
    text-transform: uppercase;
}

.movie {
    width: 250px;
    height: 365px;
    border: 2px solid white;
    margin: 2rem auto;
    padding: 0;
}

.bar {
    border: 1px solid #C4B28C;
    background-color: #C4B28C;
    width: 200px;
    height: 1px;
    margin: 0 auto;
}