@use '../base/settings' as *;

.singleMovie {

    .page-home p {
       padding: 0;
    }

    .poster-img {
        visibility: hidden;
    }

    h3,
    p.date,
    p.overview,
    .heart,
    p.user-rating{
        left: 2rem;
    }

    h3 {
        color: $gold;
        font-size: 2rem;
        position: absolute;
        top: 26rem;
    }

    .poster p {
        color: white;
        max-width: 90%;
        position: absolute;
    }

    p.date {
        top: 32rem;
    }

    
    p.overview {
        top: 39rem;
        margin-right: 2rem;
    }

    .backdrop{
        height: 20rem;
        width: 100%;
        object-fit: cover;
        // object-position: center center;
        position: absolute;
        top: 7rem;
        vertical-align: middle;
    }

    .heart {
        width: 48px;
        height: 48px;
        position: absolute;
        top: 35rem; 
    }

    p.user-rating{
        border-radius: 50%;
        color: white;
        border: 2px solid #fff;
        width: 42px;
        line-height: 42px;
        margin: 0;
        margin-left: 5rem;
        padding: 0.2rem;
        top: 35rem;
        z-index: 100;
    }

    .link {
        display: none;
    } 
}

.main-cast {
  text-align:center; 
  position: absolute;
  top: 55rem;
  width: 100%;
  left: 0;
  right: 0;
}

.actorCard {

    p{
      color: white;
      font-style: italic;
    }

    h2{
        color: $gold;
        text-transform: uppercase;
        font-size: 1.25rem;
    }
}

.single-page {
    .overview-title {
        top: 37rem;
        color: $gold;
        position: absolute;
    }

    .release-date {
        top: 30rem;
        color: $gold;
        position: absolute;
    }

    .overview-title,
    .release-date {
        left: 2rem;
    }
}

@media screen and (min-width: 500px) {
    .main-cast{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .actorCard {
        padding: 0.5rem;

        h2{
            max-width: 185px;
        }
    }
}

@media screen and (min-width: 850px) {
    .main-cast {
        width: 25rem;
        top: 28rem;

        img {
            width: 125px;
            height: auto;
        }
    }

    .actorCard {
        padding: 0.15rem;

        h2{
            max-width: 150px;
        }
    }

    .singleMovie {

        h3,
        p.date,
        p.overview,
        .heart,
        p.user-rating{
            left: 25rem;
        }
    }

    
    .single-page {
        .overview-title,
        .release-date {
            left: 25rem;
        }
    }
}