@use '../base/settings' as *;

.single-page {

    h3 {
        color: $gold;
        font-size: 2rem;
        position: absolute;
        top: 35rem;
    }

    p {
        color: white;
        max-width: 90%;
        position: absolute;
    }

    p.release-date {
        top: 38rem;
        color: $gold;
    }

    p.date {
        top: 40rem;
    }

    p.overview-title {
        top: 46rem;
        color: $gold
    }

    p.overview {
        top: 48rem;
    }

    img {
        height: 27rem;
        width: 100%;
        object-fit: cover;
        object-position: center center;
        position: absolute;
        top: 7rem;
    }

    .heart {
        width: 48px;
        height: 48px;
        position: absolute;
        top: 42rem; 
    }

    p.user-rating{
        border-radius: 50%;
        color: white;
        border: 2px solid #fff;
        width: 42px;
        line-height: 42px;
        margin: 0;
        margin-left: 4rem;
        padding: 0.2rem;
        top: 42rem;
    }

    .link {
        display: none;
    } 
}

.singlePageInfo {
    margin-left: 1rem;
}
p.release-date {
    margin-left: 1rem;
}

p.overview-title {
    margin-left: 1rem;
}


@media (min-width: $tablet) {
    .singlePageInfo {
        margin-left: 1rem;

        p.overview {
            max-width: 40rem;
        }
    }

    p.release-date {
        margin-left: 1rem;
    }

    p.overview-title {
        margin-left: 1rem;
    }
}

@media (min-width: $tabletlg) {
    .singlePageInfo {
        margin-left: 5rem;
    }

    p.release-date {
        margin-left: 5rem;
    }

    p.overview-title {
        margin-left: 5rem;
    }
}