
@use '../base/settings' as *;
@import url('https://fonts.googleapis.com/css?family=Lato:300');

.account-container{
    background: rgba(66, 62, 62, 20);
}

.form-signup {
    color: $gold;
    font-family: $pageFont;
    font-size: 2rem;
    left: 0;
    right:0;
    top:0;
    bottom:0;
    position: absolute;
    text-align:center;
    top:20rem;
    color:$gold;
    
    

    h1{
        margin: 1rem auto;
        color:$gold;
    }
}

.group-signup {
    color: $gold;
    font-family: $pageFont;
    font-size: 2rem;
    left:0;
    right:0;
    bottom:0;
    top:0;
    position: absolute;
    text-align:center;
    top: 5rem;
    

    .username{
        margin: 1rem auto;
        padding-left: 80px;
        color:$gold;
    }
    .password{
        margin: 1rem auto;
        color:$gold;
        
    }
}


.submit-signup{
    position:absolute;
    top: 10rem;
    left:0;
    right:0;
    bottom:0;
    text-align:center;
}